# Bundler cache
.bundle
vendor
Gemfile.lock
_Local/

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# .NET build intermediates
BlogPublisher.WinForms/bin/
BlogPublisher.WinForms/obj/

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Hidden system files
*~
.DS_Store
Thumbs.db
AGENTS.md
